
body{
 margin: 0;
 padding: 0;
}
.banner{
margin-top: -30px;  
background: url(../images/graduant.PNG) no-repeat center; 
box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.6); 
height: 100vh; 
position: relative;
}
 .banner .applynow a{
margin-top: 350px;
width: 250px;
border-radius:50px;
margin-left:600px;
background: blue;
color:white;
font-weight: bold;
height: 50px;
position: absolute;
text-decoration: none;
text-align: center;
padding-top: 5px;
font-size: 30px;
}
.banner .applynow a:hover{
background: white;
color:blue;
}
.page-header{
margin-top: -10px;  
}

.navbar{
padding: 0px;
}  
.navcontainer{  
margin-top: -50px;
background-color: #f8f9fa;
}
.navbar-nav li{
z-index: 1;
}
  .navbar-nav li a{
 font-size: 3px;
 padding: 3px 5px !important;
}
 .navbar-nav li a:hover{
 border-right: 3px solid #ff4f81;
 border-left : 3px solid #ff4f81;
 transition: 0.5s all;
 }
 .navbar-light .navbar-nav .nav-link{
    color: #ffffff;
    padding: 10px 20px;
    font-size: 25px;
    font-family: serif;
 } 
 .navbar-light .navbar-nav .nav-link:hover{
    color: #E9967A;
    background-color: blue;
    }
 
.dropdown-menu  .dropdown-item {
  color: #000;
  font-family: roboto;
  font-size: 20px;
  text-decoration:  none;
  background-color: #DAF7A6;
}
.dropdown-menu  .dropdown-item:hover {
 color: #ffffff;
 background-color: blue;
}
  
  #carouselExampleControls{
    margin-top: 10px;
  }
     .slider{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     .flex-caption{
     padding: 2%;
     left: 0;
     color: #fff;
     font-size: 20px;
     text-align: center;
     }
     
     }
     
     .frontContent{
     height: auto;
     width:  100%;
     border: 2px solid blue;
     overflow: scroll;
     font-size: 15px;
     }
     .frontContent .title {
    background-color: #eef1f7;
    border-bottom: 5px solid #dfe4ec;
    padding: 10px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #000678;
    font-weight: 600;
    text-align: center;
    font-size: 25px;
    font-family: roboto;
    margin-bottom: 10px;
}

.content-wrapper {
    margin-top: 40px;
    min-height: 600px;
    padding-bottom: 60px;
}
.page-head-line {
    font-weight: 900;
    padding-bottom: 20px;
    border-bottom: 2px solid #F0677C;
    text-transform: uppercase;
    color: #35475e;
    font-size: 20px;
    margin-bottom: 40px;
}
.collapse .card-body{
font-family: roboto;
font-size: 20px;
}
.card-header .btn{
 color: black;
 font-size: 15px;
 font-family: roboto;
 text-decoration: none;
 text-align: center;
}
.page-head {
border-radius:50%;
 color: #000000; 
 border: 2px dotted; 
 text-align: center; 
 height: 300px; 
 padding-top: 90px; 
 font-size: 40px;
 font-family: Blackadder ITC;
}
   .frontContent #studentresultdetail{
  margin-left: 30px;
  width: 800px;  
}

.frontContent #studentresultdetail .stddetals{
   color:#000000; 
    margin-left: 10px;
    font-family: roboto;
    font-size: 10px;

  }
.frontContent #studentresultdetail .tblwidth{
    width: 300px;
 }
 .frontContent #studentresultdetail .tblwidth img{
    width: 100px;
    height: 100px;
    margin-left: 50px;
    border-radius: 5px ;
 }

 
  @media screen and (max-width: 800px) {
  .content-wrapper {
    margin-top: 40px;
    min-height: 600px;
    padding-bottom: 60px;
}
.page-head {
border-radius:50%;
 color: #000000; 
 border: 2px dotted; 
 text-align: center; 
 height: 300px; 
 padding-top: 80px; 
 width: 100%;
 font-size: 14px;
 font-family: ariel;
}
.card{
 width: 100%;
}
.card-header .btn{
 color: black;
 font-size: 25px;
 font-family: roboto;
 width: 20px;
 text-decoration: none;
 text-align: center;
}
.page-head-line {
    font-weight: 900;
    padding-bottom: 20px;
    border-bottom: 2px solid #F0677C;
    text-transform: uppercase;
    color: #F0677C;
    font-size: 20px;
    margin-bottom: 40px;
}
  .page-header{
margin-top: 2px;
margin-bottom: 47px;
}
.navbar-nav li{
z-index: 1;
}
.navbar-toggler{
 margin: 10px 0px 10px 30px;
 background-color: #ff4f81;
 width: 50px;
}
.navbar-toggler:hover, .navbar-toggler:hover{ 
background-color: #ffffff;
border-color: #ff4f81 ;

}
 .navbar-nav li a{
 font-size: 20px;
 padding: 3px 2px !important;
}
 .navbar-nav li a:hover{
 border-right: 3px solid  #ff4f81;
 border-left : 3px solid   #ff4f81;
 transition: 0.5s all;
 }

 
 .dropdown-menu  .dropdown-item {
  color: green;
  font-family: roboto;
  font-size: 20px;
  text-decoration:  none;
  background-color: #DAF7A6;
}
.dropdown-menu  .dropdown-item:hover {
 color: #ffffff;
  background-color:gray;   
}
.banner .applynow a{
margin-top: 350px;
width: 200px;
border-radius:50px;
margin-left: 90px;
background: blue;
color:white;
font-weight: bold;
height: 50px;
position: absolute;
text-decoration: none;
text-align: center;
padding-top: 7px;
font-size: 25px;
}
.banner .applynow a:hover{
background: white;
color:blue;
}

 .frontContent{
     height: auto;
     width:  100%;
     border: 2px solid blue;
     overflow: scroll;
     font-size: 15px;
     }
     .frontContent .title {
    background-color: #eef1f7;
    border-bottom: 5px solid #dfe4ec;
    padding: 10px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #000678;
    font-weight: 600;
    text-align: center;
    font-size: 25px;
    font-family: roboto;
    margin-bottom: 10px;
}
  }
  
 /* footer*/
.footer-distributed{
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    position: relative;
    padding: 30px 20px;
    margin-top: 2px;
    clear:both;
    
  }

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
    width: 20%;
}

/* The company logo */

.footer-distributed h3{
    color:  #ffffff;
    font: normal 23px 'Cookie', cursive;
    margin: 0;
}

.footer-distributed h3 span{
    color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding-top: 7px;
}

/* Footer Center */

.footer-distributed .footer-center{
    width: 35%;
}

.footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
}

.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}

.footer-distributed .footer-center p a{
    color:  #5383d3;
    text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
    width: 30%;
}

.footer-distributed .footer-right .footer-company-about{
    color:  #ffffff;
    font-size: 18px;
    font-family: roboto;
}


.footer-distributed .footer-icons{
    margin-top: 25px;
}

.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}
.footer-distributed .footer-left  .flogo {
 position: relative;
  width: 70px;
  height: 70px;
  background: url(../images/LOGO1.png)  no-repeat  center;
  box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.8); 
  background-size: cover;
  margin-left: 50px;
 }
.fmap{
 width:100%;
 height:200px;
}
.panel .pager{
   margin-top: -10px;
}
.pager > li{
   float:right;
}
/* If you don't want the footer to be responsive, remove these media queries */
.frontContent #studentresultdetail{
  margin-left: 150px;
  padding-left: 200px;
}
 .frontContent #studentresultdetail .stddetals{
   color:#000000; 
    margin-left:20px;
    font-family: roboto;
    font-size: 18px;

  }
.frontContent #studentresultdetail .tblwidth{
    width: 300px;
 }
 .frontContent #studentresultdetail .tblwidth img{
    width: 120px;
    height: 120px;
    margin-left: 200px;
    border-radius: 5px ;
    margin-top: -80px;
 }
.frontContent .instruction{
 text-align: left;
 font: bold;
 font-size: 20px;
 }
@media (max-width: 880px) {
   .footer-distributed .fmap{
    width: 100%;
} 
    .footer-distributed{
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i{
        margin-left: 0;
    }
    .footer-distributed .fmap{
  background-color: white;
   border: 2px solid blue;
   width: 20%;
   
 }
.footer-distributed .footer-left  .flogo {
 position: relative;
  width: 50px;
  height: 70px;
  background: url(../images/logo.png)  no-repeat  center;
  box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.8); 
  background-size: cover;
  margin-left: 150px;
 }
 .frontContent .accordion .card button {
  width: 30px;
  color: red;
  }
  .frontContent #studentresultdetail{
  margin-left: 30px;
}
 #studentresultdetail{
 width: 600px;
 
}
.frontContent #studentresultdetail .stddetals{
   color:#000000; 
    margin-left: 10px;
    font-family: roboto;
    font-size: 10px;

  }
.frontContent #studentresultdetail .tblwidth{
    width: 300px;
 }
 .frontContent #studentresultdetail .tblwidth img{
    width: 100px;
    height: 100px;
    margin-left: 50px;
    border-radius: 5px ;
 }

}
 
 